@import url('https://fonts.googleapis.com/css2?family=Alata&family=Rubik:wght@400;500;600;700&family=Sacramento&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, input, textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

body {
  background-color: #fffafc;
  line-height: 1.7;
  color: #444;
}

h1, h2, h3 {
  color: #444;
  font-family: 'Alata', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  color: #b87c8c;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

#navbar nav ul {
  background-color: #fff4f8;
  text-transform: lowercase;
  display: flex;
  justify-content: space-around;
  padding: 10px 40px;
}

#home {
  background-color: #fff4f8;
  padding: 90px 0 180px;
}

#home div {
  margin: auto auto;
  text-align: center;
}

#home .hi-there {
  font-family: 'Sacramento', cursive;
  font-style: italic;
  font-size: 2.5rem;
  margin-top: -10px;
  color: #444;
}

#home .presentacion h2 {
  font-family: 'Alata', sans-serif;
  font-size: 1.7rem;
  margin-top: -20px;
}

#home .presentacion-area {
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  border-right: 3px solid;
  width: 23ch;
  font-size: 14px;
  color: #444;
  letter-spacing: 2.8px;
  margin: auto auto;
  padding: 2px 0;
  animation: typing 2s steps(23), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent;}
}

#img-principal {
  width: 200px;
}

#img-principal img {
  border-radius: 50%;
}

#sobre-mi, #proyectos, #skills, #contacto {
  margin: auto auto;
  max-width: 80%;
  text-align: center;
  padding: 60px 0 120px;
}

#sobre-mi .sobre-mi_info {
  display: flex;
  align-items: center;
  column-gap: 30px;
  border: #7f5c73 solid 1px;
  padding: 20px 50px;
  text-align: left;
}

#sobre-mi h3, #skills h3 {
  padding-bottom: 40px;
}

.sobre-mi_info img {
  width: 100%;
}

#skills .skills-all {
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
}

#skills .skills-img {
  background-color: #f5cde2;
  border-radius: 10px;
  font-size: 0.9rem;
  width: 100px;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills .skills-img:hover {
  transform: scale(1.1);
}

#skills .skills-img img {
  width: 100%;
}

#proyectos .container-proyectos {
  text-align: center;
  max-width: 60vw;
  margin: 40px auto 0;
  position: relative;
  border-left: #f5cde2 solid 5px
}

#proyectos .container-proyectos ul li {
  padding: 20px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}

#proyectos .container-proyectos ul li::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b87c8c;
  border: 3px solid #b87c8c;
  position: absolute;
  top: auto;
  left: -10px;
}


#proyectos ul li .proyectos-info {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

#proyectos img {
  width: 400px;
}

#proyectos .links-proyectos {
  display: flex;
  flex-flow: row nowrap;
  margin: auto auto;
}

#proyectos .links-proyectos div a {
  display: flex;
  flex-direction: row;
}

#proyectos .links-proyectos img {
  width: 30px;
}

#contacto {
  max-width: 100%;
  height: 80vh;
  border-top-right-radius: 50%;
  background-color: #fff4f8;
}